 * { 
    padding: 0px;
    margin: 0px;
    font-family: "Space Grotesk", sans-serif;

}

.navbar {
    height: 70px;
    display: flex;
    padding: 0 20px;    
    /* box-shadow: 1px 2px 9px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 2px 9px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 2px 9px 0px rgba(0,0,0,0.75); */
}

.logo {
    height: 60px;
    width: 150px; 
}
.nav-menu{
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    background-color: white;
    z-index: 1;
}

.nav-list ul {
    display: flex;
    list-style: none;
    gap: 15px;
    padding: 5px;
}

.nav-list a {
    text-decoration: none;
    color: black;
    border-radius: 5px;
    padding: 10px;
}

.nav-list a:hover{
    background-color: #191A23;
    color: aliceblue;
    transition: all .3s ease-in-out;
    border: 1px solid #191A23;
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex: 1 0 100%;
}

.illust{
    margin-top: 35px;
    width: 400px;
    justify-content: center;
    text-align: center;
}

.container{
    text-align: center;
    justify-content: center;
    width: 50%;
}

.content-container h1 {
    font-weight: 500;
    font-size: 35px;
    width: 50%;
    height: 50%;
    text-align: left;
    justify-content: center;
}

.content-container p{
    margin-top: 5%;
    width: 50%;
    height: 50%;
    text-align: left;
    justify-content: center;
    font-size: 13px;
}

.btn{

    justify-content: center;
    display: flex;
    text-align: center;
    margin-left: -105px;
    width: 50%;
    height: 50%;
    margin-top: -50px;
}

.submit-btn{
    font-size: 15px;
    border: none;
    padding: 16px;
    border-radius: 10px;
    display: flex;
    text-align: center;
    justify-content: space-around;
    height: 30%;
    width: 30%;
    background-color: #191A23;
    color: aliceblue;
    cursor: pointer;
}

.submit-btn:hover{
    background-color: aliceblue;
    color: #191A23;
    transition: all 0.5s ease-in-out;
    border: 1px solid #191A23;
}

.services {
    margin-top: 30px;
    width: 600px;
    gap: 10px;
    margin-left: 120px;
    padding: 30px;
    display: flex;
    text-align: center;
    justify-content: center;    
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: -5px 9px 14px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: -5px 9px 14px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 9px 14px -1px rgba(0,0,0,0.75);
}

.services h1{
    margin-top: -15px;
    display: flex;
    border-right: 1px solid #191A23;
    padding: 20px;
    font-weight: 500;
    font-size: 26px;
    width: 20%;
    text-align: left;
    justify-content: center;
}

.services p{
    margin-top: 10px;
    text-align: left;
    justify-content: center;
    font-size: 13px;
}

.card{
    margin-top: 100px;
    margin-left: 120px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(2, auto); 
    gap: 30px;
    align-items: center;
    justify-content: space-around;
}

.card-sec{
    margin-right: 180px;
    padding: 0;
    border: 1px solid #191A23;
    justify-content: center;
    border-radius: 20px 20px 20px 20px;
    background-color: #B9FF66;
    box-shadow: 0px 7px 5px 3px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 7px 5px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 7px 5px 3px rgba(0,0,0,0.75);
    }

.card-sec h3 {
    background-color: #b9ff66;
    margin: 50px 0 0 40px;
    font-size: 18px;
    font-weight: 600;
    justify-content: center;
    width: 50%;
    height: 50%;
}

 .card-sec img{
    position: relative;
    width: 110px;
    margin-left: 250px;
    align-items: center;
    justify-content: center;    
    margin-top: -20px;
    top: -40px;
    background-color: white;
}

.content-cta{
    width: 76%;
    margin: 0 0 0 125px;
    background-color: #f3f3f3;
    border-radius: 40px;
    height: 260px;
}

.content-cta h2{
    margin: 50px 0 0 20px;
    padding: 40px 0 0 0;
    font-size: 20px;
    font-weight: 600;
    background: transparent;
}

.content-cta p{
    margin: 30px 0 0 20px;
    width: 50%;
    font-size: 13px;
    background: transparent;
}

.content-cta img{
    position: relative;
    bottom: 150px;
    margin: 0 0 0 700px;
    background: transparent;
    width: 430px;

}

.cta-btn{
   margin: 10px 0 0 145px;
    position: relative;
    bottom: 110px;
    font-size: 15px;
    border: none;
    padding: 16px;
    border-radius: 10px;
    text-align: center;
    justify-content: space-around;
    width: 20%; 
    background-color: #191A23;
    color: aliceblue;
    cursor: pointer;
}

.cta-btn:hover{
    background-color: #f3f3f3;
    color: #191A23;
    border: 1px solid #191A23;
    transition: all 0.5s ease-in-out;
}

.case-studies{
    display: flex;
    flex-direction: row;
    margin: 55px 0 20px 140px;
}

.case h1{
    background-color: #b9ff66;
    display: flex;
    font-weight: 500;
    font-size: 20px;
    width: 135px;
    justify-content: center;
}

.case p{
    position: relative;
    bottom: 28px;
    margin: 0 0 0 160px;
    text-align: left;
    justify-content: center;
    font-size: 13px;
    width: 50%;
}

.case-studies1{
    padding: 45px;
    background-color: #191A23;
    display: flex;
    gap: 100px;
    justify-content: center;
    text-align: left;
    margin: 0 190px 0 140px;
    border-radius: 40px;
}

.case-body{
    border-right: 1px solid white;
    padding-right: 60px;
    margin: 0 0 0 -30px;
    font-size: 13px;
    color: white;
    display: flex;
    flex-direction: row;
    width: 20%;
}

.case-body1{
    border: none;
    margin: 0 0 0 -30px;
    padding: 0 30px 0 -35px;
    font-size: 13px;
    color: white;
    display: flex;
    flex-direction: row;
    width: 20%;
}

.heading-owp{
    display: flex;
    flex-direction: row;
    margin: 90px 0 -33px 140px;
}

.body-owp h1{
    background-color: #b9ff66;
    display: flex;
    font-weight: 500;
    font-size: 20px;
    width: 200px;
    justify-content: center;
}

.body-owp p{
    position: relative;
    bottom: 28px;
    margin: 0 0 0 225px;
    text-align: left;
    justify-content: center;
    font-size: 13px;
    width: 50%;
}

.heading-consul{
    background-color: #B9FF66;
    padding: 28px;
    width: 70%;
    border-radius: 25px;
    margin: 0 0 0 140px;
    justify-content: center;
    align-items: center;
    border: 1px solid #191A23;
    box-shadow: 0px 5px 0px -1px rgba(0,0,0,1);
    -webkit-box-shadow: 0px 5px 0px -1px rgba(0,0,0,1);
    -moz-box-shadow: 0px 5px 0px -1px rgba(0,0,0,1);
}

.body-consul h1{
    font-size: 40px;
    font-weight: 500;
    padding: 0 0 15px 0;
    border-bottom: 1px solid #191A23;
}

.body-consul h3{
    font-weight: 500;
    position: relative;
    bottom: 53px;
    left: 55px;
}

.body-owp img{
    width: 45px;
    position: relative;
    left: 149%;
    top: 45%;
}

.body-consul p{
    justify-content: center;
    font-size: 12px;
}

.sub-body-consul1{
    background-color: #f3f3f3;
    padding: 10px;
    height: 80px;
    border-radius: 30px;
    width: 73%;
    border: 1px solid #191A23;
    margin: 15px 0 0 135px;
    box-shadow: 0px 5px 0px -1px rgba(0,0,0,1);
    -webkit-box-shadow: 0px 5px 0px -1px rgba(0,0,0,1);
    -moz-box-shadow: 0px 5px 0px -1px rgba(0,0,0,1);
}

.sub-body-consul1 h1{
    font-size: 40px;
    font-weight: 500;
    position: relative;
    top: 15px;
    left: 15px;
}

.sub-body-consul1 h3{
    font-weight: 500;
    position: relative;
    bottom: 20px;
    left: 80px;
}

.sub-body-consul1 img{
    width: 45px;
    position: relative;
    left: 89%;
    bottom: 55px;
}

.heading-team{
    display: flex;
    flex-direction: row;
}
.head-team h2{
    margin: 40px 0 0 130px;
    background-color: #B9FF66;
    text-align: left;
    display: flex;
    font-weight: 500;
    width: 61px;
}

.head-team p {
    position: relative;
    font-size: 13px;
    width: 70%;
    text-align: left;
    left: 38%;
    bottom: 30px;
}

.group-team{
    display: grid;
    grid-template-columns: repeat(3, 3fr); 
    grid-template-rows: repeat(3, auto);
    width: 80%;
}

.body-group{
    border: 1px solid #191A23;
    border-radius: 30px;
    width: 210px;
    height: 250px;
    margin: 40px -80px 0 135px;
    padding: 20px;
    box-shadow: 0px 5px 0px 0px rgba(0,0,0,1);
    -webkit-box-shadow: 0px 5px 0px 0px rgba(0,0,0,1);
    -moz-box-shadow: 0px 5px 0px 0px rgba(0,0,0,1);
}

.body-group > h4{
    position: relative;
    bottom: 55px;
    left: 100px;
    font-weight: 600; 
}

.body-ceo {
    font-weight: 400;
    font-size: 13px;
    position: relative;
    bottom: 55px;
    left: 100px;
}

.img-1{
    width: 70px;
    padding: 10px;
}

.img-2{
    position: relative;
    bottom: 135px;
    left: 170px;
    width: 25px;
}

.body-group p{
    font-size: 13px;
}

.text-arc{
    padding: 10px 0 0 0;
    border-top: 1px solid #191a23;
}

.contact-us{
    display: flex;
    flex-direction: row;
}
.head-contact h2{
    margin: 80px 0 0 130px;
    background-color: #B9FF66;
    text-align: left;
    /* display: flex; */
    font-weight: 500;
    width: 130px;
}

.head-contact p {
    position: relative;
    font-size: 13px;
    width: 70%;
    text-align: left;
    left: 75%;
    bottom: 30px;
}

.contact{
    background-color: #F3F3F3;
    width: 72%;
    margin: 50px 0 0 140px;
    border-radius: 10px;
}

.input-btn {
    display: flex;
    flex-direction: row;
    padding: 50px;
    gap: 20px;
    cursor: pointer;
}

.text-btn{
    margin: 0 0 0 50px;
    width: 20px;
}

.name-btn{
    padding: 0 0 30px 0;
    width: 20px;
}

.btn-name{
    width: 400px;
    height: 35px;
    border: 1px solid #191a23;
    border-radius: 5px;
}

.email-btn{
    padding: 0 0 30px 0;
}

.btn-email{
    width: 400px;
    height: 35px;
    border: 1px solid #191a23;
    border-radius: 5px;
}

.btn-message{
    padding: 0 0 30px 0;
    height: 10px;
    width: 400px;
    height: 60px;
    position: relative;
    border-radius: 5px;
    border: 1px solid #191a23;
}

.btn-btn{
    margin: 30px 0 0 0;
    background-color: #191A23;
    border-radius: 9px;
    border: 1px solid #f3f3f3;
    color: #F3F3F3;
    width: 200px;
    height: 50px;
    cursor: pointer;
}

.img-btn img{
    position: relative;
    margin: -430px 0 0 650px;
    width: 500px;
    
}

.footer{
    background-color: #191A23;
    width: 65%;
    height: 350px;
    margin: 140px 0 0 140px;
    padding: 45px;
    border-radius: 10px 10px 0 0;
}

.footer-left img{
    width: 120px;
}

.nav-footer{
    margin: -20px 0 0 210px;
    font-size: 11px;
}

.nav-footer ul{
    display: flex;
    gap: 20px;
    list-style-type: none;
}

.nav-footer a{
    color: white;
}

.footer-right{
    margin: -2% 0 0 84%;
}

.footer-social{
    display: flex;
    gap: 20px;

}

.footer-social img{
    width: 22px;
}

.footer-body{
    margin: 55px 0 0 0;
    color: white;
}

.footer-body h3{
    font-weight: 500;
    font-size: 20px;
    background-color: #B9FF66;
    color: #191A23;
    border-radius: 4px;
    width: 14%;
}

.footer p{
    padding: 15px 0 0 0;
}

.footer-input{
    padding: 20px;
    position: relative;
    background-color: #292A32;
    margin: 0 0 0 40%;
    top: -160px;
    border-radius: 10px;
}

.email-ftr{
    position: relative; 
    top: 30px;
    width: 170px;
    padding: 20px;
    background: transparent;
    border: none;
    border: 1px solid #f3f3f3;
    color: white;
    border-radius: 10px;
}

.footer-input p{
    width: 150px;
    background-color: #B9FF66;
    padding: 20px;
    position: relative;
    margin: 0 0 0 250px;
    top: -30px;
    border-radius: 10px;
    cursor: pointer;
}

.ftr-end{
    margin: -80px 0 0 190px;
    color: white;
    padding: 10px;
    border-top: 1px solid #f3f3f3;
    width: 63%;
}